.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 4px -1px #555;
    box-shadow: 0px 0px 4px -1px #555;
    margin-top: 25px;
}

.featuredTitle {
    font-size: 20px;
}

.featuredMoneyContainer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featuredMoney {
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 14px;
}
 .negativeRate {
     color: red;
 }

 .positiveRate {
     color: green;
 }

 .featureSub {
     font-size: 14px;
     color: gray;
 }